.Mainbox{
    
    width: 100%;
    margin: 50px 0px 20px 50px;
}
.Topicbox{
    width: fit-content;
    background-color: #FFFFFF;
    padding: 18px;
    border-radius: 20px;
    font-size: 30px;
}

.Topicbox .Text{
    cursor: pointer;
}
.Topicbox .Text:hover{
    text-decoration: underline;
    cursor: pointer;
}

.Postbox{
    position: relative;
    background-color: #FFFFFF;
    padding: 18px 30px 18px 30px;
    margin-top: 20px;
    margin-right: 50px;
    border-radius: 20px;    
    
}
.Postbox .Title{
    overflow-wrap: break-word;
    font-size: 40px;
}
.bookmark{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 38px;
    margin-left: 100px;
}


.tag{
    display: inline;
    background-color: #D9D9D9;
    width: fit-content;
    margin : 0 10px 0 0;
    padding: 3px 15px 3px 15px;
    border-radius: 20px;
    font-size: 16px;
}

.detail{
    color: #3D3D3D;
}